
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- Favicons -->
<link href="assets/img/favicon.png" rel="icon">
<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="~/Content/GioiThieu.css" rel="stylesheet">

<!-- =======================================================
* Template Name: BizLand - v3.9.1
* Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
======================================================== -->
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container text-center ">
        <h2 class="text-white">
            Chào mừng đến với PQ2L</h2>
            <p class="text-white m-0">Đôi nét về công ty <i class="fa fa-heart"></i> </p>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <h4 class="title text-center"><a href="">MỤC TIÊU</a></h4>
                        <p class="description">Trở thành công ty có được nhiều Khách hàng tin tưởng nhất và biết đến sử dụng dịch vụ của chúng tôi. </p> <br />
                        <p class="description">Với mục tiêu đưa Khách hàng đến các địa điểm du lịch tuyệt vời nhất, giúp Khách hàng được trải nghiệm xứng tầm 5 sao và đẳng cấp quốc tế.  </p> <br />
                        <p class="description">Với dịch vụ của chúng tôi và những kinh nghiệm đúc kết từ ý kiến Khách hàng chúng tôi chắc chắn sẽ mang lại cho bạn những phút giây vui vẻ và hạnh phúc nhất. </p>
                        <p class="description">KIẾN THỨC-KINH NGHIỆM-TRẢI NGHIỆM </p>
                        <p class="description">
                            Chính là điều chúng tôi luôn hướng tới
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <h4 class="title text-center"><a href="">SỨ MỆNH</a></h4>
                        <p class="description"> Lời đầu tiên Ban Giám Đốc cùng toàn thể nhân viên Công ty TNHH Kinh doanh PQ2L xin trân trọng gửi đến Quý khách hàng lời chào thân ái, lời chúc sức khỏe, hạnh phúc trong cuộc sống và thành công trong công việc.</p> <br />
                        <p class="description">PQ2L được thành lập từ đội ngũ nhân viên trẻ, năng động và đội ngũ lãnh đạo dày dạn kinh nghiệm.</p> <br />
                        <p class="description"> Chúng tôi cùng nhau xây dựng thương hiệu Vietnam Tours thành một Công ty lữ hành lớn mạnh hướng đến chất lượng dịch vụ và khách hàng</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                        <h4 class="title text-center"><a href="">THÀNH TỰU</a></h4>
                        <p class="description">Top 10 Doanh nghiệp Lữ hành Outbound hàng đầu Việt Nam năm 2023 do Bộ Văn hóa Thể Thao và Du lịch trao tặng.&nbsp;</p> <br />
                        <p class="description">Top 3 Doanh nghiệp lữ hành outbound hàng đầu TP.HCM năm 2023 do Ủy Ban Nhân Dân Thành phố Hồ Chí Minh và Sở Du lịch Thành phố Hồ Chí Minh trao tặng.</p> <br />
                        <p class="description">Top 5 Doanh nghiệp lữ hành nội địa hàng đầu TP.HCM năm 2023 do Ủy Ban Nhân Dân Thành phố Hồ Chí Minh và Sở Du Lịch Thành Phố Hồ Chí Minh trao tặng.</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Featured Services Section -->

</main><!-- End #main -->
<!-- Vendor JS Files -->
<script src="~/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="~/vendor/glightbox/js/glightbox.min.js"></script>
<script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="~/vendor/swiper/swiper-bundle.min.js"></script>
<script src="~/vendor/waypoints/noframework.waypoints.js"></script>
<script src="~/vendor/php-email-form/validate.js"></script>


<script src="~/Scripts/JavaScript.js"></script>
