
@{
    ViewBag.Title = "TinTuc";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<link href="~/Content/TinTuc.css" rel="stylesheet" />


<h1 data-aos="fade-up" style="text-align:center; margin-top: 20px">Tin Tức</h1>
<div id="div-pro-list">
    <div class="box-pro" data-aos="fade-right">
        <img src="~/Images/SP.jpg" class="size-img" />
        <div class="box-description">
            <p style="font-family: 'Segoe UI';font-size:larger" , class="margin-des">
                <a href="https://vnexpress.net/quan-ca-phe-o-sa-pa-ban-duy-nhat-mot-loai-do-uong-4527657.html#:~:text=V%E1%BB%ABa%20m%E1%BB%9F%20c%E1%BB%ADa%20ng%C3%A0y%2013,b%C3%A1n%20k%C3%A8m%20b%C3%A1nh%20s%E1%BB%ABng%20b%C3%B2.">
                    <b>Quán cà phê ở Sa Pa bán duy nhất một loại đồ uống</b>
                </a>
            </p>
            <p style="font-size: large" , class="margin-des">Quán cà phê nằm giữa đỉnh núi ở Sa Pa, chỉ bán cappuccino quế hồi, phục vụ kèm bánh sừng bò.</p>
        </div>
    </div>
    <div class="box-pro" data-aos="fade-right">
        <img src="~/Images/HA.jpg" class="size-img" />
        <div class="box-description">
            <p style="font-family: 'Segoe UI'; font-size: larger" , class="margin-des">
                <a href="https://vnexpress.net/hoi-an-binh-yen-sau-nhung-con-mua-bao-4527567.html">
                    <b>Hội An bình yên sau những cơn mưa bão</b>
                </a>
            </p>
            <p style="font-size: large" , class="margin-des">Sau hai cơn bão liên tiếp đầu tháng 10, phố cổ Hội An đã trở lại vẻ bình yên, nhất là vào những buổi sáng sớm.</p>
        </div>
    </div>
    <div class="box-pro" data-aos="fade-left">
        <img src="~/Images/NĐ.jpg" class="size-img" />
        <div class="box-description">
            <p style="font-family: 'Segoe UI'; font-size: larger" , class="margin-des">
                <a href="https://vnexpress.net/du-khach-tp-hcm-an-tuong-voi-ve-dep-cua-nam-dinh-4526769.html">
                    <b>Du khách ấn tượng với vẻ đẹp của Nam Định</b>
                </a>
            </p>
            <p style="font-size: large" , class="margin-des">Anh Thắng ấn tượng với những con đường làng, biển trời phẳng lặng, những nhà thờ cổ và lòng hiếu khách của người dân Nam Định.</p>
        </div>
    </div>
    <div class="box-pro" data-aos="fade-left">
        <img src="~/Images/DL.jpg" class="size-img" />
        <div class="box-description">
            <p style="font-family: 'Segoe UI'; font-size: larger" , class="margin-des">
                <a href="https://vnexpress.net/ba-nguyen-tac-de-vui-ve-khi-du-lich-voi-nhom-ban-4527189.html">
                    <b>Ba nguyên tắc để vui vẻ khi du lịch với nhóm bạn</b>
                </a>
            </p>
            <p style="font-size: large" , class="margin-des">Để tránh các tình huống phát sinh dẫn tới mâu thuẫn, có ba nguyên tắc mà nhóm bạn có thể tham khảo.</p>
        </div>
    </div>
</div>
